* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div.page-bg {
	background-attachment: fixed;
	background-image: url('../images/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

pre {
	text-shadow: 	-1px -1px 0 #000000,
					1px -1px 0 #000000,
					-1px 1px 0 #000000,
					1px 1px 0 #000000;
	font-size: 1vh;
	display: inline-block;
	font-weight: 400;
}

body {
	font-family: Source Sans Pro;
	background-color: black;
	font-size: 2;
	height: 100%;
}

header {
	/*background-color: #454a52;*/
	background: linear-gradient(to bottom, #0057b7 0%, 	#0057b7 50%, 	#ffd700 50%, 	#ffd700 100%);
	color: white;
	height: 16vh;
	padding-top:1vh;
	text-align: center;
	z-index: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.centre-column{
	height: 100%;
	margin: 0 auto;
	padding: 10px;
	width: 50%;
	z-index: 0;
}

div.page-content {
	background-color: #E1E1E1;
	height: 100%;
	padding: 10px;
	width: 100%;
}

div.column {
  float: left;
  width: 50%;
}

div.row:after {
  content: "";
  display: table;
  clear: both;
}

div.scrollbox {
	border: none;
	height: 47vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

a:link {
	color: #0f0f0f;
	text-decoration: underline;
	font-size: 16px;
}

a:visited {
	color: #101010;
	text-decoration: underline;
}

a:hover {
	color: #3f3f3f;
	text-decoration: underline;
}

h1 {
	font-size: 2em;
	text-shadow: 3px 3px 0px #202020;
}

h2 {
	font-size: 1.5em;
}

p {
	font-size: 1.2em;
}

p.pizza {
	text-shadow: 	-1px -1px 0 #000000,
					1px -1px 0 #000000,
					-1px 1px 0 #000000,
					1px 1px 0 #000000;
	float: center;
	text-align: center;
	position: relative;
	bottom: 17%;
	left: 15%;
	font-size: 1vh;
}

iframe.youtube-embed {
	padding-top: 10px;
	padding-bottom: 10px;
}

img {
	padding: 5px;
	padding-top: 0px;
	margin: 5px;
	margin-top: 0px;
}

footer {
  background-color: #454a52;
  color: white;
  padding: 8px;
}


@media only screen and (max-width: 60em) {
    header {
		background-color: #454a52;
		color: white;
		height: 12vh;
		padding: 10px;
		text-align: center;
		z-index: 0;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}

	div.column {
		float: left;
		width: 100%;
	  }

	pre {
		font-size: 0.6vw;
		padding-bottom:0px;
		margin-bottom: auto;
		font-weight: 400;
	}

	div.centre-column {
		width: 60%;
	}
}

@media only screen and (max-width: 56em) {
	header {
		height:11vh;
	}
}

@media only screen and (max-width: 45em) {
	header {
		height:10vh;
	}
}

@media only screen and (max-width: 44.5em) {
	header {
		height:9vh;
	}
}

@media only screen and (max-width: 32em) {
	header {
		height:8vh;
	}
}

